<section id="heroes-list" class="container">
  <div class="heroes row">
    <div *ngFor="let hero of heroes" class="col-md-3 hero-col">
      <div class="card cursor-pointer hero-card">
        <div class="card-header">
          Hero #<span class="badge">{{hero.id}}</span>
        </div>
        
        <div class="card-body">
          <a routerLink="/detail/{{hero.id}}">
            {{hero.name}}
          </a>
        </div>
        
        <div class="card-footer">
          <button class="delete btn btn-danger" title="delete hero"
            (click)="delete(hero)">remove</button>
        </div>
      </div>
    </div>
  </div>
  
  <div>
    <label>Hero name:
      <input #heroName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(heroName.value); heroName.value=''">
      add
    </button>
  </div>
</section>