<div id="search-component">
  
  <section id="search-area" class="row">
    <div class="col-md-6 offset-md-3">
      <h1 id="hero-search-headline">Hero Search</h1>
      <input #searchBox id="search-box" (input)="search(searchBox.value)"
        placeholder="Type a hero's name" autocomplete="off" />
      
      <div class="search-results-container">
        <ul class="search-results">
          <li *ngFor="let hero of heroes$ | async" class="result-item">
            <a routerLink="/detail/{{hero.id}}">
              {{hero.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  
</div>